---
import Paragraph from './shared/Paragraph.astro';

export interface Props{
    title:string,
    description:string
    icon: string
}

const {title, description, icon} = Astro.props
---
<div class="p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-gray-100 shadow-lg shadow-box-shadow relative overflow-hidden hover:border-blue-100 hover:bg-blue-100 hover:shadow-2xl transition-all duration-300">
    <div class="relative z-10 space-y-4 h-full">
        <div class="w-12 h-12 bg-sky-500 rounded-2xl flex justify-center items-center">
            <Fragment set:html={icon} />
        </div>
        <div class="mt-6 space-y-4 relative">
            <h2 class="text-lg md:text-xl font-semibold text-heading-2">
                {title}
            </h2>
            <Paragraph>
                {description}
            </Paragraph>
        </div>
    </div>
    <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-sky-400 rounded-full"></span>
    <span
    class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-sky-600"
  ></span>
</div>